<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.chapter9_4"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="10" android:minSdkVersion="10"></uses-sdk>


    <application android:icon="@drawable/icon" android:label="chapter9-4" android:debuggable="false">
        <activity android:name="com.android.templateApp.templateApp"
                  android:label="chapter9-4" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:launchMode="singleTask" android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>